html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font: 400 16px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: #fafafa;
}

.header__title {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}

.header__description {
    text-align: center;
}

.main {
    display: block;
    max-width: 600px;
    margin: 50px auto 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.section {
    background: #fff;
    -webkit-box-shadow: 0 3px 38px rgba(0,0,0,0.05), 0 0px 12px rgba(0,0,0,0.05);
            box-shadow: 0 3px 38px rgba(0,0,0,0.05), 0 0px 12px rgba(0,0,0,0.05);
    padding: 24px 36px;
    margin-bottom: 24px;
}

.section__container {
    max-width: 450px;
    margin: 0 auto;
}
